[core]
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore
  editor = $EDITOR
  pager = delta
[branch]
  autoSetupMerge = true
[delta]
  features = dark side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
  hunk-header-style = omit
[interactive]
    diffFilter = delta --color-only
[diff]
    tool = diffsitter
[difftool]
    prompt = false
[difftool "diffsitter"]
    cmd = diffsitter "$LOCAL" "$REMOTE"
; [diff]
;   algorithm = patience
;   colorMoved = default
[merge]
	tool = vimdiff
[pull]
	rebase = true
[push]
	default = current
[rerere]
	enabled = true
[rebase]
  autoStash = true

[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  l = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  ll = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --decorate --numstat
  st = status -sb
  cb = ! git rev-parse --abbrev-ref HEAD | tr -d '\n' | pbcopy
  co = checkout
  ci = commit
  br = branch
  sta = stash
  sw = switch
  wc = whatchanged

  # undo last commit
  undo = !git reset --hard remotes/origin/$(git rev-parse --abbrev-ref HEAD)
 
  ; git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done
[user]
	name = James Childers
	email = james.childers@gmail.com
[init]
	defaultBranch = main
[credential]
	helper = cache --timeout=600
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
