.DS_Store
.luarc.json
.zsh_sessions/
Brewfile.lock.json
Session.vim
abbreviations
blocked-domains
configstore/
default.gems.lock
htop/
node_modules/
nvim/.netrwhist
xdg_config/AWSVPNClient
xdg_config/gcloud
xdg_config/github-copilot/
xdg_config/gh/hosts.yml
xdg_config/lazygit/state.yml
xdg_config/macmon.json
xdg_config/op
xdg_config/zsh/.zcompdump*
xdg_config/zsh-abbr/
.aider*
.claude/
