gui:
  showFileTree: false
  theme:
    lightTheme: false # For terminals with a light background
    activeBorderColor:
      - blue
      - bold
    inactiveBorderColor:
      - gray
    selectedLineBgColor:
      - reverse
git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
